.contenedor-iconos{
    display: flex;
    flex-direction: row;
}
:root{
    --colorBlue: linear-gradient( #5F9DF7 0% ,rgba(9,9,121,1) 80%);
    ;
    --bgLightBlue:#5F9DF7;
}
img{
    width: 400px;
    border: 2px solid white;
}
header{
    background:var(--colorBlue);
    padding: 50px 20px;
    color:white
}

/* gradiente de colores
lineal ->
radial(circular)->
*/