*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    background-color: lightblue;
    padding: 50px;
}
#boton-enviar{
    grid-column: 1/3;
    width: fit-content;
    justify-self: center;
    padding: 10px;
}
.input-texto{
    width: 300px;
    padding: 10px 2px;
}
textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
input{
    background-color: aliceblue;
    border-radius: 10px;
}
